/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

html, body{
  width: 100%;
  height: 100vh;
}

body{
  font-size: 62.5%;
  background-color: #F2F2F2;
  color: #121212;
}

a{
  text-decoration: none;
  color: #121212;
}

a:hover{
  text-decoration: underline;
}
